In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine(f"postgresql://postgres:AquaMan89^3@#2@1)@localhost:5432/PH-EmployeeDB")
connection = engine.connect()

/Users/kimberlybraud/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [9]:
staff_df=pd.read_sql("SELECT * FROM retiring_titles WHERE (mycount > 2)", connection)

staff_df

   mycount               title
0    29414     Senior Engineer
1    28254        Senior Staff
2    14222            Engineer
3    12243               Staff
4     4502    Technique Leader
5     1761  Assistant Engineer

In [8]:

staff_retiring_df=pd.read_sql("SELECT * FROM eligibility_by_title", connection)

staff_retiring_df

   mycount               title
0      220     Senior Engineer
1      194               Staff
2      129        Senior Staff
3      107            Engineer
4       31    Technique Leader
5       10  Assistant Engineer

In [18]:
staff_df.merge(staff_retiring_df, how="inner", on="title").rename({
    "mycount_x": "Retiring",
    "mycount_y": "Eligible Mentors",
    "title": "Title"

}, axis = 1).to_csv("retiring_vs_eligible.csv")